{{> header}}

<main class="content">

  <section class="new-container">
    <div class="name-container">
      <h1 class="my-name"><u><em>Outdoor Adventures</em></u></h1>
      <h2> <em> Welcome! </em> </h2>
      <div class="info-container">
        <p> <h3> Home </h3>
          This is the landing page for the website in which users can interact with.
        </p> <br> <br>
        <p> <h3> Book A Trip </h3>
          This is where the user can book a trip. This utilizes the INSERT query in
          which the user can insert their information into the participants and packing list table
          in turn applying it to all the others as well.
        </p> <br> <br>
        <p> <h3> Trip Info </h3>
          This is where the user can view information about each trip.
          This utilizes the SELECT query in which the user will eventually be
          able to select certain trips in which it can display the information for each trip.
        </p> <br> <br>
        <p> <h3> Participants </h3>
          This is where the user can view information about the participants attending each trip.
          This utilizes a SELECT query with an implemented search filter. Also, this implements a
          DELETE query if the participant wishes to cancel that trip on the premise that the tripID
          and participantID match considering they have a M:M relationship.
        </p> <br> <br>
        <p> <h3> Admin </h3>
          This page is meant for administration where they have the ability to add new trips.
          As well as the ability to UPDATE the information of current trips.
        </p> <br> <br>
      </div>
    </div>
  </section>

</main>
