{{> header}}

<main class="content">

  <section class="new-container">
    <div class="name-container">
      <h2 class="my-name"><u><em>Read-It</em></u></h2>

      <h3>Your Input</h3>
      <div class="name-container" style="background-color: white;">
        <br><p>
          Maybe an input form in here? or submit option for .txt file?
        </p> <br>
      </div>
      <h3>Your Output</h3>
      <div class="name-container" style="background-color: white;">
        <br><p>
          display output here?
        </p> <br>
      </div>

    </div>
  </section>

</main>
