{{> header}}

<section class="new-container">
  <div class="name-container">
    <h2 class="my-name"><u><em>Menu</em></u></h2>

    <div class="info-container" style="background-color: white; text-align: center;">
      <form>
        <div class="highlight-container" style="text-align: center;">
          <h2>Select Your Highlight Colors</h2>

          <h4><u>1</u></h4>
          <select class="menu-select">
            <option selected value="initial">Please Select A Color</option>
            <option>Red</option>
            <option>Blue</option>
            <option>Green</option>
            <option>Yellow</option>
          </select>
          <h4><u>2</u></h4>
          <select class="menu-select">
            <option selected value="initial">Please Select A Color</option>
            <option>Red</option>
            <option>Blue</option>
            <option>Green</option>
            <option>Yellow</option>
          </select>
          <h4><u>3</u></h4>
          <select class="menu-select">
            <option selected value="initial">Please Select A Color</option>
            <option>Red</option>
            <option>Blue</option>
            <option>Green</option>
            <option>Yellow</option>
          </select>
        </div>
        <br>

        <div class="block-container" style="text-align: center;">
          <h2>Select Your Section Blocking Colors</h2>

          <h4><u>1</u></h4>
          <select class="menu-select">
            <option selected value="initial">Please Select A Color</option>
            <option>Black</option>
            <option>Red</option>
            <option>Blue</option>
            <option>Green</option>
            <option>Yellow</option>
          </select>
          <h4><u>2</u></h4>
          <select class="menu-select">
            <option selected value="initial">Please Select A Color</option>
            <option>Black</option>
            <option>Red</option>
            <option>Blue</option>
            <option>Green</option>
            <option>Yellow</option>
          </select>
          <h4><u>3</u></h4>
          <select class="menu-select">
            <option selected value="initial">Please Select A Color</option>
            <option>Black</option>
            <option>Red</option>
            <option>Blue</option>
            <option>Green</option>
            <option>Yellow</option>
          </select>
        </div>
        <br>
        <div class="font-container" style="text-align: center;">
          <h2>Select Your Desired Font</h2>

          <select class="menu-select">
            <option selected value="initial">Please Select A Font</option>
            <option>Open Dyslexic</option>
            <option>Comic Sans</option>
          </select>

        </div>

        <div class="submit-container" id="submit-container" style="text-align: center;">
            <br> <br> <input type="submit" value="Submit" onclick="checkUserInput()"> <br> <br>
        </div>
      </form>
    </div>


  </div>
</section>
